<div id="blog">
  {{#each model as |post|}}
    <article>
      <time>{{moment-format post.published "MMMM DD, YYYY"}}</time>
      <h1>{{post.title}}</h1>

      {{{post.content}}}

      <a href="{{post.commentURL}}" target="_blank" rel="noopener">
        {{post.commentCount}} comments
      </a>
    </article>
  {{/each}}
</div>